<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="Core.t4" #>
<#
    // Set `Custom Tool` of `CodeGen.tt` to `TextTemplatingFileGenerator`
    Process("CodeGen.xml");
#>
