[submodule "XeEngine.Tools.Public"]
	path = XeEngine.Tools.Public
	url = https://github.com/OpenKH/XeEngine.Tools.Public.git
[submodule "nQuant"]
	path = nQuant
	url = https://github.com/OpenKH/nQuant.git
[submodule "Simple3DViewport"]
	path = Simple3DViewport
	url = https://github.com/osdanova/Simple3DViewport.git
