<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenKh.Tools.ModsManager.WinSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenKh.Tools.ModsManager.WinSettings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>660</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenKh.Tools.ModsManager.WinSettings>
    </userSettings>
</configuration>