<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenKh.Tools.Kh2MsetMotionEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenKh.Tools.Kh2MsetMotionEditor.Settings>
            <setting name="MoveSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MoveSpeedShift" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ViewCamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewLayerControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewSpawnPoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewMeshGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewBobDescriptors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewSpawnScriptMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewSpawnScriptBattle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewSpawnScriptEvent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewBones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewIKHelper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewInitialPose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewExpression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewConstraint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewFkBones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewDebugInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewJoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewFCurvesForward" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewFCurvesInverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewFCurveKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastLoadedMdlxFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoadedMsetFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewIkBones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewRootPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewFCurvesGrid" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenKh.Tools.Kh2MsetMotionEditor.Settings>
    </userSettings>
</configuration>
